
.child1 {
    float: left;
    width: 20%; 
    margin: 10px; 
    font-size: 60px;
    text-align: center;
    position: relative; 
}


.child1 img {
    width: 100%; 
    object-fit: cover;
    border-radius: 50px;
}


#id1 {
    margin-right: 250px; 
}

#id2 {
    margin-top: 450px;
    margin-right: 250px; 
}

#id3 {
    margin-right: 250px; 
}


#root {
    margin-top: 900px;
    margin-left: 1400px;
}


#mainid {
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    text-align: center;
    position: absolute;
    margin-top: -150px; 
    margin-left: 2100px;
    transform: translateY(-20px); 
    color: burlywood; 
    font-weight: bold; 
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}


body {
    background-image: url('./images/destination/photo-1507525428034-b723cf961d3e.avif'); /* Path to your image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.child1 p {
    box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.3);
    padding: 10px; 
    font-weight: px;
    border-radius: 50px; 
    
}
.child1 h1{
    font-family: 'Indie Flower', cursive;
}
