img {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.5s ease; /* Smooth animation for hover */
}

div {
    border: solid;
    height: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

img:hover {
    left: 200px;
}
