body {
    background-color: grey;
}

h1 {
    text-align: center;
    letter-spacing: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: black; 
    padding: 20px; 
    border-radius: 50px;
    
}
h2 {
    text-align: center;
    letter-spacing: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: grey; 
    padding: 20px; 
    border-radius: 50px;
    
    
}

img {
    width: 100%;
    max-width: 900px;
    border-radius: 50px;
    padding: 20px;
   
    
}
img{
    margin-right: 100px; 
    margin-left: 10px;
}

#no1 {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

 
    

#text-container {
    background-color: lightgrey; 
    padding: 20px; 
    border-radius: 50px; 
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
    line-height: 30px;
}

p {
    font-size: 25px;
}
